* {
    text-align: center;
}

.one {
    background-color: darkcyan;
    text-align: center;
    line-height: 25px;
    
    
}

.three {
    background-color: lightblue;
    line-height: 50px;
    
}

ol li {
    list-style: none;
}

.five {
    background-color: darkcyan;
    line-height: 50px;
}
.whitetext {
    color: white;
    text-transform: capitalize;
    font-style: oblique;
    margin-top: 35px;
    
    
}

.whitetext1 {
    color: white;
    margin-left: 250px;
    margin-bottom: 50px;
}

#image1 {
    width: 150px;
    margin-right: 1200px;
    margin-top: 50px;
}


.cyantext {
    color: darkturquoise;
}

.moveleft {
    text-align: left;
    margin-left: 150px;

}

.moveleft1 {
    text-align: left;
}

.moveright {
    text-align: right;
    margin-bottom: 130px;
    margin-right: 150px;
}

.Pone {
    line-height: 70px;
    margin-left: 450px;
}

#submit_button {
    background-color: darkcyan;
    border-radius: 15%;
}